.bui-booking__table {
    display: flex;
    flex-direction: column;
    border: 1px solid #546e7a;
    max-width: 800px;
    width: calc(100vw - 40px);
}

.bui-booking__body {
    overflow-y: auto;
    max-height: 512px;
}

.bui-booking__row {
    display: flex;
    align-items: stretch;
    text-decoration: none;
    color: slategray;
}

.bui-booking__row:nth-child(even) {
    background-color: rgba(201, 224, 250, 0.15);
}

.bui-booking__row:hover {
    background-color: #6a8e9a;
    color: rgb(244, 255, 255);
}

.bui-booking__row--cancelled {
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgba(192, 0, 0, 1) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
    );
}

.bui-booking__cell {
    flex: 1;
    padding: 5px;
}

.bui-booking__cell--main {
    flex: 3;
    flex-basis: 200px;
}

.bui-booking__cell--header {
    font-weight: bold;
    background-color: #546e7a;
    color: rgb(244, 255, 255);
}

@media only screen and (max-width: 700px) {
    .bui-header__logo {
        display: block;
        margin: auto;
    }
}
