.bui-action {
    border: 1px solid #546e7a;
    padding: 30px;
}
.bui-action__title {
    display: inline-block;
}

.bui-action__close {
    float: right;
    margin: 1.54em;
    display: inline-block;
}

.bui-action__children {
    clear: left;
}