body {
    margin: 0;
    padding: 0;
}

.bui-app {
    font-family: sans-serif;
}

.bui-header {
    background-color: #f0f4f5;
    border-bottom: 2px solid #666;
    color: #000;
    height: auto;
    padding: 20px;
}

.bui-header__logo {
    height: 40px;
}

@media only screen and (max-width: 700px) {
    .bui-header__logo {
        display: block;
        margin: auto;
    }
}

.bui-main {
    float: left;
    padding: 20px;
}

.bui-aside {
    background-color: white;
    height: 100vh;
    width: 400px;
    padding: 20px;
    padding-top: 87px;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 700px) {
    .bui-aside {
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1325px) {
    .bui-aside {
        box-shadow: 3px 20px 20px 0px #000000c4;
    }
}